{% extends 'components/layout.html' %}

{% load django_bootstrap5 %}
{% load i18n %}
{% bootstrap_css %}
{% bootstrap_messages %}

{% block content %}

<div class="container wrapper flex-grow-1">

	<h1 class="my-4">

		{% translate "Пользователи" %}

	</h1>
      
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% translate "Имя пользователя" %}</th>
      <th>{% translate "Полное имя" %}</th>
      <th>{% translate "Дата создания" %}</th>
    </tr>
  </thead>
  
  <tbody>
	  {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
		<td>{{ user.date_joined|date:"d.m.Y" }} {{ user.date_joined|time:"H:i" }}</td>
        <td>
          <a href="{% url 'user_update' user.pk %}">{% translate "Изменить" %}</a>
          <br>
           <a href="{% url 'user_delete' user.pk %}">{% translate "Удалить" %}</a>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock content %}