{% load django_bootstrap5 %}
{% load i18n %}
{% bootstrap_css %}

<!DOCTYPE html>

<html lang="ru-ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% translate "Менеджер задач" %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include "components/navigation.html" %}
	{% bootstrap_messages %}
	<main class="flex-grow-1">
		{% block content %}
		{% endblock %}
	</main>
    
  </body>
</html>
