{% extends 'components/layout.html' %}

{% load django_bootstrap5 %}
{% load i18n %}
{% bootstrap_css %}
{% bootstrap_messages %}

{% block content %}

<div class="container wrapper flex-grow-1">

	<h1 class="my-4">

		{% translate "Задачи" %}

	</h1>
<a class="btn btn-primary mb-3" href="{% url 'task_create' %}">{% translate "Создать задачу" %}</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% translate "Имя" %}</th>
	  <th>{% translate "Статус" %}</th>
	  <th>{% translate "Автор" %}</th>
	  <th>{% translate "Исполнитель" %}</th>
      <th>{% translate "Дата создания" %}</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
	  {% for task in tasks %}
      <tr>
        <td>{{ task.id }}</td>
        <td>
			<a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a>
		</td>
		<td>{{ task.status }}</td>
		<td>{{ task.creator }}</td>
		<td>{{ task.executor }}</td>
        <td>{{ task.created_at|date:"d.m.Y" }} {{ task.created_at|time:"H:i" }}</td>
        <td>
          <a href="{% url 'task_update' task.pk %}">{% translate "Изменить" %}</a>
          <br>
           <a href="{% url 'task_delete' task.pk %}">{% translate "Удалить" %}</a>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock content %}